.Main {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: row;
  height: auto;
}

.Best {
  height: inherit;
  flex: 1;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
.Authors {
  background-color: #FAFAFA;
  width: inherit;
  flex: 1;
}
.AuthorPhoto {
  background-color: #FFFFFF;
  height: 4vh;
  width: 4vh;
  border: 1px solid #CFD8DC;
  border-radius: 50%;
  margin-left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AuthorPhoto img {
  height: 100%;
  vertical-align: middle;
}
.BestBooks {
  background-color: #FAFAFA;
  width: inherit;
  flex: 1;
}
.Authors li {
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
}
.BestBooks li {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  margin-top: 10px;
}
.Authors li span,
.BestBooks li span {
  margin-left: 20px;
  color: black;
  font-size: 0.8em;
  flex: 2;
}
.BookPhoto {
  background-color: #FAFAFA;
  height: 45px;
  width: auto;
  max-width: 30px;
  text-align: center;
  flex: 1;
}
.BookPhoto img {
  min-height: 45px;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.Titel {
  height: 6vh;
  align-items: center;
  color: black;
}
.Titel span {
  margin-left: 40px;
  font-weight: bold;
}
.BookShelf {
  height: inherit;
  flex: 4;
  margin-right: 15px;
}
.NavigationPanel {
  height: 6vh;
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid #CFD8DC;
}
.PopularBy {
  background-color: #FAFAFA;
  height: inherit;
  flex: 1;
  display: flex;
  align-items: center;
  color: black;
}
.PopularBy span {
  margin-left: 40px;
  font-weight: bold;
}
.NavBar {
  height: inherit;
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.CategoryButton {
  background-color: #FAFAFA;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  flex: 1;
  height: 100%;
}
.CategoryButtonActive {
  border-bottom: 2px solid #0091EA;
  transition: 0.3s;
}
.Books {
  background-color: #FAFAFA;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body {
  text-align: center;
  text-decoration-color: black;
  font-family: "Lato", sans-serif;
  background-color: #FAFAFA;
}