

.Book {
  background-color: #FFFFFF;
  height: 250px;
  width: 350px;
  margin: 40px 20px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.icon {
  color:#D32F2F;
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
  transition: 1s;
}
.Book:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.BookCover {
  background-color: #FAFAFA;
  height: 180px;
  width: auto;
  max-width: 120px;
  position: absolute;
  top: -30px;
  left: 10px;
  text-align: center;
}
.BookCover img {
  min-height: 180px;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.BookInfo {
  background-color: #FFFFFF;
  height: 200px;
  width: 220px;
  position: absolute;
  right: 0;
}
.BookInfo h1 {
  color: black;
  font-size: 0.8em;
  padding: 5px;
  padding-right: 8px;
  height: 35px;
  width: 200px;
}
.Author {
  margin-top: 0;
  color: black;
  font-size: 0.7em;
  margin-left: 10px;
}
.BookDescription {
  color: black;
  font-size: 0.8em;
  margin: 10px;
  text-align: justify;  
}
.Likes {
  border-top: 0.5px solid #CFD8DC;
  height: 40px;
  width: 95%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Likes span {
  color: black;
  font-size: 0.8em;
  padding-left: 5px;
}
.PeopleLike {
  background-color: #FFFFFF;
  height: 2.5vh;
  width: 2.5vh;
  border: 1px solid #CFD8DC;
  border-radius: 50%;
  margin-left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Likes img {
  height: 80%;
  vertical-align: middle;
}