.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
.material-icons{
  font-size: 2.4em;
  cursor: pointer;
}
.card{
  width: 250px;
}
.card .card-image .card-title{
  color: black;
  font-weight: 400
}
.cart{
  margin-top:40px;
}
.collection .collection-item{
  display: block;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: gray;
  display: block;
  margin-bottom: 50px;
  
}
.collection .collection-item img{
  width: 150px;
  margin-right: 25px;
}
.item-desc{
  align-self:center;
}

body {
  text-align: center;
  font-family: "Lato", sans-serif;
  background-color: #FAFAFA;
}

.navigation {
  list-style-type: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: teal;
  
  
}
.navigation ul{
  list-style-type: none;
 
  overflow: hidden;
  background-color: teal;
 
 
}


.navigation li a {
  display: block;
  color: white;
  text-align: center;
  
  text-decoration: none;
 
}